<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>服务端页面--渲染</title>
    <link rel="stylesheet" type="text/css" th:href="@{/src/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/src/js/jquery-3.3.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/src/js/popper-1.14.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/src/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="main"></div>
<script th:src="@{/dist/build.js}"></script>
</body>
</html>
