<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" th:href="@{/src/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/src/css/vuetify.min.css}">
</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <!--登录失败提示-->
                        <v-alert v-model="alert" dismissible type="success">
                            <strong th:if="${param.error}">Invalid username and password.</strong>
                            <strong th:if="${param.logout}">You have been logged out.</strong>
                        </v-alert>

                        <!--登录表单-->
                        <v-card class="elevation-12">
                            <v-toolbar dark color="primary">
                                <v-toolbar-title>Login</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-card-text>
                                <v-form th:action="@{/web/login}" method="post">
                                    <v-text-field prepend-icon="person" name="username" label="Username" id="username"
                                                  type="text"></v-text-field>
                                    <v-text-field id="password" prepend-icon="lock" name="password" label="Password"
                                                  type="password"></v-text-field>
                                    <v-checkbox v-model="checkbox" name="remember-me" id="remember-me"
                                                label="Remember Me?" required>
                                    </v-checkbox>
                                    <v-btn color="primary" type="submit">Login</v-btn>
                                </v-form>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>
<script type="text/javascript" th:src="@{/src/js/vue-2.5.17.min.js}"></script>
<script type="text/javascript" th:src="@{/src/js/vuetify.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    new Vue({
        el: '#app',
        data() {
            return {
                checkbox: false,
                alert: /*[[${param.error!=null||param.logout!=null}]]*/ false
            }
        }
    })
    /*]]>*/
</script>
</body>
</html>